[Unit]
Description=serf join and master choose service

[Service]
ExecStart=/usr/lib/redborder/bin/serf-join.sh
RemainAfterExit=yes
User=root
Requires=serf
After=serf

[Install]
WantedBy=multi-user.target
