[Unit]
Description=cluster deployment system
After=network.target

[Service]
ExecStart=/usr/bin/serf agent -config-dir /etc/serf
KillSignal=SIGINT
User=root
TimeoutStartSec=60
Restart=on-failure

[Install]
WantedBy=multi-user.target
