[Unit]
Description=serf join and master choose service
Requires=serf.service
After=serf.service

[Service]
ExecStart=/usr/lib/redborder/bin/serf-join.sh
RemainAfterExit=yes
User=root

[Install]
WantedBy=multi-user.target
